body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    background: linear-gradient(to bottom, #ffe6f0, #ffffff);
    color:#333;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:url('../images/fondo.jpg') center/cover;
    color:white;
    text-shadow:2px 2px 8px rgba(0,0,0,0.5);
}

.hero h1{
    font-family: 'Great Vibes', cursive;
    font-size:60px;
    margin:0;
}

.hero h2{
    font-size:40px;
    margin:10px 0;
}

.fecha{
    font-size:18px;
    letter-spacing:3px;
}

section{
    padding:60px 20px;
}

.mensaje{
    font-size:18px;
    max-width:500px;
    margin:auto;
}

.evento{
    background:#fff0f5;
}

.boton{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#ff4da6;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:500;
    transition:0.3s;
}

.boton:hover{
    background:#e60073;
}

.contador{
    font-size:25px;
    font-weight:bold;
}
