body{
  margin:0;
  background:#0d0d0d;
  color:white;
  font-family:'Montserrat',sans-serif;
  overflow-x:hidden;
}

/* EFECTO LUZ CURSOR */
.cursor-light{
  position:fixed;
  width:300px;
  height:300px;
  background:radial-gradient(circle, rgba(255,215,0,0.2), transparent 60%);
  pointer-events:none;
  transform:translate(-50%,-50%);
  z-index:1;
}

/* TEXTO DORADO */
.gold-text{
  background:linear-gradient(90deg,#c9a227,#ffd700,#c9a227);
  -webkit-background-clip:text;
  color:transparent;
}

/* BRILLO */
.shine{
  background-size:200% auto;
  animation:shine 3s linear infinite;
}

@keyframes shine{
  to{background-position:200% center;}
}

/* SECCIONES */
.section{
  padding:120px 20px;
  text-align:center;
  transition:1s;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  perspective:1000px;
}

.portada{
  width:320px;
  border-radius:20px;
  box-shadow:0 30px 60px rgba(255,215,0,.3);
}

/* BOTONES */
.btn-gold{
  padding:14px 30px;
  background:linear-gradient(45deg,#c9a227,#ffd700);
  border:none;
  border-radius:40px;
  color:black;
  font-weight:bold;
  cursor:pointer;
  transition:.4s;
}

.btn-gold:hover{
  transform:scale(1.1);
  box-shadow:0 0 20px gold;
}

/* SWIPER */
.swiper{
  width:300px;
  height:400px;
}

.swiper-slide img{
  width:100%;
  border-radius:20px;
}

/* PETALOS */
.petalo{
  position:absolute;
  width:10px;
  height:10px;
  background:gold;
  border-radius:50%;
  opacity:0.6;
  animation:caer linear infinite;
}

@keyframes caer{
  from{transform:translateY(-10vh);}
  to{transform:translateY(110vh);}
}

/* CALENDARIO */
.calendario{
  margin-top:20px;
  display:inline-block;
  padding:20px;
  border:2px solid gold;
  border-radius:20px;
}

.dia-evento{
  font-size:40px;
  color:gold;
}
